.main {
    padding: 10px;
    height: 100vh;
    color: #013220;
}

.layout {
    display: flex;
}

.sidebar {
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
    background-color: #F7E7CE;
    box-shadow: 0 0 2px #013220;
    color: #013220;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    color: #013220;
}

.header {
    height: 10vh;
    margin: 20px;
    box-shadow: 0 0 2px #013220;
    background-color: #FFFFF0;
    color: #013220;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.body {
    height: 85vh;
    margin: 20px;
    box-shadow: 0 0 2px #013220;
    background-color: #FFFFF0;
    color: #013220;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.logo h6 {
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.logo img {
    width: 150px;
    margin: 20px 0;
}

hr {
    width: 80%;
    border: 1px solid #013220;
    margin: 20px 0;
}

.menu {
    margin-top: 50px;
}

.menu-item {
    margin-top: 30px;
}

.menu-item a {
    color: #013220;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.active {
    background-color: #FFD700;
    padding: 10px;
}

.active a, .active i {
    color: #013220;
    
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content i {
    font-size: 1.2rem;
}

.header-content a {
    color: #013220;
    font-size: 1.2rem;
}
